body {
  text-align: center;
  margin: 0;
  font-family: 'Merriweather Sans', sans-serif;
}

h1{
  font-family: 'Sacramento', cursive;
  font-size: 563%;
  color: #181D31;

}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: normal;
  color: #181D31;
}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #181D31;
}
hr{
  background-color: #181D31;
  height: 20px;
  margin: 0;
}
.top_container{
  position: relative;
  padding-top: 100px;
  padding-bottom: 10px;
  background-color: #F0E9D2;
  margin-left: 0;
  margin-right: 0;

}

.middle-container{
  padding-top: 100px;
  background-color: #E6DDC4;
}

.bottom-container{
  background-color: #678983;
}
.main_text_h1{
  margin: 50px auto 0 auto;
  color: #181D31;
  line-height: 2
}

.main_text_p{
  margin-bottom: 50px;
  color: #181D31;
}

.bot-cloud{
  position: absolute;
  bottom: 150px;
  left: 150px;
  width: 20%
}

.top-cloud{
  position: absolute;
  bottom: 150px;
  right: 150px;
  width: 20%
}

.hex-image{
  width: 10%;
}

.hex-image-two{
  width: 20%;
}

.hex-image-three{
  width: 12%;
}
